$body-bg: #f1f1f1;
$body-color: #212121;
$primary: #f44336;
$secondary: #00bcd4;
$accent: #76ff03;

$syntax-keyword: #7cb342;
$syntax-decvar: #7e57c2;
$syntax-function: #7986cb;
$syntax-string: #69f0ae
