@import "_data";
@import "_code-viewer";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:300,400,700');

@mixin us {
    cursor: default;
    user-select: none;
}

*{
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    outline: none !important
}

body{
    background-color: $body-bg;
    color: $body-color;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}

b, strong{
    font-weight: 700;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    margin: .67rem 0;
}

h1{
    font-size: 2.8em;
}

h2{
    font-size: 2.3em;
}

h3{
    font-size: 1.8em
}

h4{
    font-size: 1.5em
}

h5{
    font-size: 1.3em;
}

h6{
    font-size: 1.15em;
}

@for $i from 1 through 6{
    .h#{$i}{
        @extend h#{$i};
    }
}

.header{
    font-family: 'roboto mono';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: #fff;
    @include us;
    font-weight: 500;
    line-height: 1.5;
    height: 410px;
    font-size: #{(4 / 2.8)}em;
    max-height: 100vh;
    box-shadow: 0 6px 29px -3px rgba(#000, .3);
    .h1{
        margin-left: -100px;
        display: block;
    }
    @media only screen and (max-width: 768px){
        text-align: center;
        .h1{
            margin-left:0
        }
    }
    position: relative;
    .clinfo{
        position: absolute;
        bottom: 0;
        height: 60px;
        &.hidden{
            opacity: 0;
            max-width: 60px;
            .info-part{
                // letter-spacing: -.6em;
                // font-size: 0;
                line-height: 150px;
            }
            pointer-events: none;
        }
        width: calc(100vw - 30px);
        max-width: 720px;
        line-height: 60px;
        text-align: center;
        bottom: -30px;
        box-shadow: inherit;
        @for $i from 1 through 5{
            &[data-mode='#{$i}']{
                // $point: 255/4 * ($i - 1);
                // $point2: 255 / $i;
                $red: red($secondary);
                $green: green($secondary);
                $blue: blue($secondary);
                $color: lighten(desaturate(rgb($red, $green, $blue), 0%), $i*3.548554%);
                background-color: $color;
                 @if lightness($color) > 0 {
                     .info-part{
                         color: darken($color, 30%)
                     }
                 }
            }
        }
        transition: all .3s ease, opacity .6s ease-out;
        .info-part{
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0 8px;
            position: absolute;
            top: 0;
            left: 0;
            right:0;
            bottom: 0;
            z-index: 3;
            transition-duration: inherit;
            transition-timing-function: cubic-bezier(.2, 0, .4, 1);
            transition-property: all;
            &.active{
                transform: translate(0);
            }
            transform: translateY(100%);
        }
        overflow: hidden;
        border-radius: 1000vw;
    }
}

a{
    text-decoration: none;
    color: $secondary;
    &:hover, &:focus{
        color: darken($secondary, 5%);
    }
    &:active{
        color: darken($secondary, 10%)
    }
}

nav{
    color: #fff;
    position: fixed;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    @include us;
    &.raised{
        .title{
            letter-spacing: normal;
            opacity: 1;
            transition-duration: .5s;
        }
        background-color: $primary;
        box-shadow: 0 6px 29px -3px rgba(#000, .3);
    }
    &:not(.raised){
        .links{
            li{
                a{
                    color: $accent;
                    // &:hover, &:focus{
                    //     color: lighten($secondary, 15%)
                    // }
                    // &::after{
                    //     background-color: lighten($secondary, 15%)
                    // }
                }
            }
        }
    }
    left: 0;
    right: 0;
    flex: 0;
    z-index: 5000;
    font-family: 'roboto mono';
    padding: 0 calc(calc(60px - 18px) / 2);
    .title{
        font-size: 18px;
        width: 100%;
        font-weight: 500;
        transition: .2s cubic-bezier(.2,0,.4,1);
        // transform: translateY(-60px);
        letter-spacing: -.75em;
        opacity: 0
    }
    .links{
        margin: 0;
        padding: 0;
        display: inherit;
        li{
            padding: 0;
            display: inline-block;
            &:not(:last-of-type){
                margin-right: .7em;
            }
            a{
                color: #fff;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                height: 60px;
                line-height: 60px;
                transition: .2s cubic-bezier(.2,0,.4,1);
                &::after{
                    transition: inherit;
                    content: '';
                    background-color: $accent;
                    position: absolute;
                    bottom: 0;
                    right:0;
                    left:0;
                    height: 2px;
                    transform: scaleX(0);
                    pointer-events: none;
                }
                font-size: 14px;
                &:hover, &:focus{
                    color: $accent;
                    &::after{
                        transform: scaleX(1);
                    }
                }
                &:active{
                    &::after{
                        height: 4px;
                    }
                }
            }
        }
    }
}

.container{
    width: 100%;
    padding: 0 20px;
    margin: 30px auto;
    @media only screen and (min-width: 768px){
        width: (8/12*100%);
    }
    .main{
        line-height: 1.6;
        font-size: 18px;
    }
}

pre, code{
    font-family: 'roboto mono';
}

footer.footer{
    background-color: #fff;
    box-shadow: 0 -6px 29px -3px rgba(#000, .2);
    padding: 15px 20px;
    text-align: center;
    font-family: 'roboto mono';
    font-weight: 500;
    font-size: 20px;
    small{
        font-size: 65%
    }
    letter-spacing: .15em;
}

.red-text{
    color: #f44336;
}
